 /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
 .row.content {height: 1500px}
    
 /* Set gray background color and 100% height */
 .sidenav {
   background-color: #f1f1f1;
   height: 100%;
   float:right;
 }
 
 /* Set black background color, white text and some padding */
 footer {
   background-color: #555;
   color: white;
   padding: 15px;
 }
 
 /* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
   .sidenav {
     height: auto;
     padding: 15px;
   }
   .row.content {height: auto;} 
   
 }
 .creature {
    width: 150px;
    height: auto;
    justify-content: center;
   }
   .sidenav{
    background-color: #D4FCC3;
   }
   html{
    background-color: #ACDDA2;
   }
   .container-fluid{
    background-color: #ACDDA2;
   }
   hr{
    border-top: 1px solid black;
   }
   p{
    color: black; }
    a{
      color: black;
    }
    .pattern-zigzag-xl{
      color: #93D68B}
      footer{
        background-color: lightgray !important;
      }
      .pattern-cross-dots-xl{
color: #00c5a4
      }
      h2{
        color: black;
      }
      .pattern-diagonal-stripes-xl{
        color: #EC8905;
      }
      .pattern-horizontal-stripes-xl{
        color:#B1B3EA;
      }